{% extends 'base.html' %}
{% block content %}
{% load custom_filters %}

<div class="container mt-4">
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
<br>
    <form method="post">
        {% csrf_token %}
        <div class="container mt-4">
            <h1 class="text-center bg-light-green py-3 px-4 rounded shadow-lg">
                Consultar por Número de Orden
            </h1>
        </div><br>
        <div class="mb-3">
            <label for="numero_orden">Número de Orden:</label>
            <input type="text" id="numero_orden" name="numero_orden" class="form-control" placeholder="Ej: ORD-20231112-0001" required>
        </div>

        <button type="submit" class="btn btn-outline-success">Consulta Pedido</button>
    </form>
    

    {% if estado %}
        <h3>Resultado de la Consulta</h3>
        <ul>
            <li><strong>Estado Actual:</strong> {{ estado }}</li>
            <li><strong>Referencia:</strong> {{ referencia }}</li>
            <li><strong>Ubicación:</strong> {{ ubicacion }}</li>
            <li><strong>Dirección de Destino:</strong> {{ direccion_destino }}</li>
            <li><strong>Fecha de Generación:</strong> {{ fecha_generacion }}</li>
        </ul>

        <h4>Detalles del Pedido</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for d in detalles %}
                    <tr>
                        <td>{{ d.producto }}</td>
                        <td>{{ d.cantidad }}</td>
                        <td>{{ d.precio_unitario |format_currency }}</td>
                        <td>{{ d.subtotal |format_currency }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
<br><br><Br><Br><Br><Br><Br><Br><BR><br><Br>
    <style>
        .bg-light-green {
            background-color: #c5eec8; /* Fondo claro */
        }
    
        @media (max-width: 768px) {
            h1 {
                font-size: 1.8em; /* Reducir el tamaño de la fuente en pantallas pequeñas */
            }
        }
    
        @media (min-width: 768px) {
            h1 {
                font-size: 2.5em; /* Tamaño normal para pantallas medianas y superiores */
            }
        }
    </style>
{% endblock %}
