{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container mt-4">
    <div class="container mt-4"> 
        <h2 class="green-bordered-rounded">Resultados de búsqueda para <Strong>"{{ query }}"</Strong></h2>
     </div>

    {% if productos %}
        <div class="row">
            {% for producto in productos %}
                <div class="col-md-4 mt-4">
                    
                    <div class="card product-card">
                        <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}" style="width:260px; height:305px; object-fit:cover; display:block; margin-left:auto; margin-right:auto; border: 2px solid #000000; border-radius: 5px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ producto.nombre }}</h5>
                            <p class="card-text">{{ producto.descripcion }}</p>
                            <p class="card-price">{{ producto.precio_formateado }}</p>
                        </div>
                        <a href="{% url 'producto_detalle' producto_id=producto.id %}" class="btn btn-outline-success">Ver Detalles</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No se encontraron productos.</p>
    {% endif %}
</div>
{% endblock %}

<style>
    .product-card {
        border: 2px solid #28a745; /* Verde oscuro */
        border-radius: 5px; /* Opcional: para bordes redondeados */
    }
    .green-bordered-rounded { 
        border: 2px solid #28a745; /* Borde verde */
         border-radius: 10px; /* Bordes redondeados */ 
         padding: 10px; /* Espaciado interno */ 
         text-align: center; /* Centramos el texto */
          background-color: #f8f9fa; /* Fondo claro */ } 
          
    .centered-container { 
        padding-left: 30%; 
        padding-right: 30%; }
</style>

<style>
    .carousel-outline {
        border-top: 2px solid #28a745;  /* Borde superior verde */
        border-bottom: 2px solid #28a745; /* Borde inferior verde */
        border-left: none; /* Sin borde a la izquierda */
        border-right: none; /* Sin borde a la derecha */
        border-radius: 0; /* Opcional: sin bordes redondeados */
    }
    .custom-footer {
        background-color: white;
        color: #000;
        border-top: 2px solid green; /* Línea verde en la parte superior */
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    #linkFooter {
        color: #000;
        text-decoration: none;
    }
    
    #linkFooter:hover {
        text-decoration: underline;
    }
    
    .custom-footer .img-fluid {
        max-width: 100%;
        height: auto;
    }
    
    @media (max-width: 767px) {
        .custom-footer .row > div {
            text-align: center;
            margin-bottom: 15px;
        }
    }
    </style>
    


    <!-- JavaScript para abrir y cerrar el menú lateral -->
    <script>
        function openMenu() {
            document.getElementById("sidebar").classList.add("active");
            document.getElementById("overlay").classList.add("active");
            var menuBtn = document.querySelector('.menu-btn');
            menuBtn.classList.toggle('active');
        }

        function closeMenu() {
            document.getElementById("sidebar").classList.remove("active");
            document.getElementById("overlay").classList.remove("active");
            var menuBtn = document.querySelector('.menu-btn');
            menuBtn.classList.remove('active');
        }
    </script>

<style>
    .menu-btn {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 30px;
    }
    
    .menu-btn .bar {
        display: block;
        width: 100%;
        height: 3px;
        margin: 4px 0;
        background-color: #000; /* Cambia el color según tu diseño */
    }

    .color-principal {
    background-color: #409244; /* Color de fondo personalizado */
    color: white; /* Color del texto */
    }
    </style>
    

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

